.disclosure-nav ul {
	padding: 0;
}

.disclosure-nav-list {
	display: flex;
	gap: 1em;

	& li {
		margin: 0;
	}

	& ul {
		background-color: var(--ButtonFace);
		border: 1px solid;
		min-width: 15ch;
		position: absolute;
		top: 100%;
		z-index: 1;
	}

	& a:is(:hover, :focus) {
		text-decoration: none;
	}

	& button {
		background-color: transparent;
		border: none;

		&[aria-expanded="false"] + ul {
			display: none;
		}
	}

	:is(a, button) {
		color: var(--ButtonText);
		display: flex;
		padding: 0.5em 1em;
	}

	> li {
		display: flex;
		gap: 1px;
		position: relative;

		> div {
			display: flex;
			gap: 1px;
		}

		& a + button {
			padding: 0.5em;
		}

		:is(a[id], button) {
			align-items: center;
			background-color: var(--ButtonFace);
			gap: 0.5em;

			&:focus {
				position: relative;
			}
		}

		&:has(button[aria-expanded="false"]) ul {
			display: none;
		}
	}
}
