---
title: Colour
date: 2023-04-05
tags:
  -
eleventyNavigation:
  order: 1
---

<a href="https://drafts.csswg.org/css-color/#css-system-colors">System Colors section of the CSS Color spec</a>

{% tokenTable %}
{% for colour in colours.records %}
	<tr>
		<td class="[ col-token ]">
			<code>var(--{{ colour.fields.Name }})</code>
		</td>
		<td class="[ col-desc ]">
			{% if step.fields.Description %}
				<p>{{ colour.fields.Description | markdown | safe }}</p>
			{% endif %}
		</td>
		<td class="[ col-example ][ flow ]">
			<div class="colour" data-theme="light" style="background-color: var(--{{ colour.fields.Name }})"></div>
			<p>
				Light: <code>{{ colour.fields["Value Light"] }}</code> / <code>{{ colour.fields["Figma Value Light"] }}</code>
			</p>
			<div class="colour" data-theme="dark" style="background-color: var(--{{ colour.fields.Name }})"></div>
			<p>
				Dark: <code>{{ colour.fields["Value Dark"] }}</code> / <code>{{ colour.fields["Figma Value Dark"] }}</code>
			</p>
		</td>
	</tr>
{% endfor %}
{% endtokenTable %}