.unfurl {
  border-radius: 0.5rem;
  background-color: hsl(0deg 0% 95%);
  padding: 1rem;
}

.unfurl span {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  margin-block-start: 0.5em;
}

.unfurl img {
  border-radius: inherit;
  height: auto;
  width: 100%;
}

.unfurl + .unfurl {
  margin-block-start: 2rem;
}
